
#
# Module configuration file for
# Database Wizard
# (com.eqela.databasewizard)
#

displayname: Database Wizard
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libmobilewidget
depends: com.eqela.libcommonicon
depends: com.eqela.libformwidget
depends: com.eqela.libmodaldialog
depends: com.eqela.libhttpclientdialog
depends: com.eqela.libselectorwidget
depends: com.eqela.libjson
depends: com.eqela.libtextareawidget
depends: com.eqela.libtextinputwidget
